.wrapper {
	width: 600px;
	margin: 0px auto;
}

#slider {
	width: 600px;
	height: 400px;
	overflow:hidden;
	margin: 50px auto;
}
#slider img {
	width: 600px;
	height: 400px;
	float: left;
	display: none;
	border-radius: 20px;
}

a{
	padding: 15px 20px;
	margin-top: 5px;
	background-color: #F0F0F0;
	text-decoration: none;
	color: #666;
	font-size: 30px;
	border-radius: 30px;
	font-weight: bold;
}

a.left{
	float: left;
}

a.right{
	float: right;
}