.wrapper {
	width: 600px;
	margin: 0px auto;
}

#slider {
	width: 600px;
	height: 400px;
	overflow:hidden;
	margin: 50px auto 0px;
}
#slider img {
	width: 600px;
	height: 400px;
	float: left;
	display: none;
	border-radius: 20px;
}

a{
	padding: 15px 20px;
	margin-top: 10px;
	background-color: #F0F0F0;
	text-decoration: none;
	color: #666;
	font-size: 30px;
	border-radius: 30px;
	font-weight: bold;
}

a.left{
	float: left;
	position: absolute;
}

a.right{
	float: right;
	position: absolute;
	left: 1157px;
}

#middle{
	width: 25px;
	height: 34px;
	display: inline-block;
	padding-top: 18px;
	margin-left: 130px;
	position: absolute;
	left: 817px;
}

#knopka {
	width: 25px;
	height: 25px;
}

.highlight {
	background-color: #CEBFC6;
	border-style: solid;
	border-color: #DC8DB5;
	border-width: 2px;
}